<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/plugin.xsd">

    <label lang="en">CryptoGate Payment</label>
    <label lang="de">CryptoGate Payment</label>
    <version>1.1.0</version>
    <copyright>LAMP solutions GmbH</copyright>
    <license>MIT</license>
    <author>LAMP solutions GmbH</author>

    <compatibility minVersion="5.2.7"/>

    <changelog version="1.1.0">
        <changes lang="de">Erstveröffentlichung</changes>
        <changes lang="en">First release</changes>
    </changelog>
    <description>
        <![CDATA[
      <h1>Cookie Panel</h1>
        <div class="wrap" style="display: flex;">
            <div class="card">
            <p>The plug-in CryptoPanel Payment Gateway for Shopware allows the use of the payment gateway CryptoGate, which is also available as an open source variant.</p><p>https://github.com/lampsolutions/CryptoGate</p>
                    </div>
        </div>

       ]]>
    </description>
    <description lang="de">
        <![CDATA[
      <h1>Cookie Panel</h1>
        <div class="wrap" style="display: flex;">
            <div class="card">
            <p>Das Plugin CryptoPanel Payment Gateway für Shopware erlaubt die Benutzung des Payment-Gateways CryptoGate, welches auch als OpenSource Variante verfügbar ist.</p><p>Payment options for Dash, Bitcoin, Bitcoin Cash and Lightcoin are made possible.</p><p>An open source payment gateway can be used that is available here in the source code:</p><p>https://github.com/lampsolutions/CryptoGate</p>
                    </div>
        </div>

       ]]>
    </description>
</plugin>
